    <script>
        // const loggedUser = localStorage.getItem('dbUser');

        // if (loggedUser) {
        // // Mostrar el usuario en el dashboard
        // //document.getElementById('welcomeMessage').textContent = `${loggedUser}`;
        // } else {
        //     window.location.href = '../../Index.html';
        // }

        const logoutIcon = document.getElementById('log_out');

        document.getElementById("log_out").addEventListener("click", async () => {
            try {
                const response = await fetch(`http://${IP_LOCAL}:3000/logout`, {
                method: "POST",
                credentials: "include",
                });
                const data = await response.json();
                if (response.ok) {
                    localStorage.removeItem("dbUser");
                    window.location.href = "/Ges360/Index.html";
                } else {
                    Swal.fire({
                        icon: "error",
                        title: "Error",
                        text: "No se pudo cerrar sesión",
                        confirmButtonColor: "#004f83",
                    });
                }
            } catch (error) {
                console.error("Error al hacer la solicitud:", error);
                Swal.fire({
                icon: "error",
                title: "Error de conexión",
                text: "No se pudo conectar con el servidor",
                confirmButtonColor: "#004f83",
                });
            }
        });
    </script>
    <script type="text/javascript" src="../js/app.js" defer></script>
</body>
</html>