body.loaded .sidebar,
body.loaded .home-section {
  display: block;
}

body:not(.loaded) .sidebar,
body:not(.loaded) .home-section {
  display: none;
}

body {
  background: #f5f5f5;
  /* color: #b2b2bb; */
}

main {
  align-content: center;
}

.contenedor {
  width: 100%;
  max-width: 1234px;
  margin: auto;
  padding: 40px 0;

  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
}

.form-col-1,
.form-col-2 {
  border-radius: 20px;
  --tw-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:
    0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
  background: white;
}

.text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tittle-form-col {
  padding: 19px 2px;
  text-align: center;
  color: #fff;
  background: #0e2e67;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-content: center;
}

.cbo-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
  gap: 20px;
}

.cbo-form-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #000;
  font-family: "Fredoka Variable", serif;
  font-optical-sizing: auto;
  font-size: 14px;
  font-style: normal;
}

.cbo-form-cliente {
  width: 100%;
  /* height: 30px; */
  border-radius: 8px;
  font-family: "Fredoka Variable", serif;
  font-optical-sizing: auto;
  font-size: 13px;
  /* font-weight: <weight>; */
  font-style: normal;
}

.contenedor-col-1 {
  display: grid;
  gap: 20px;
}

.txt-description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 20px;
}

.txt-description textarea {
  height: 60px;
  outline: none;
  border: 1px solid #002141;
  border-radius: 4px;
  padding: 8px 12px;
  background-color: #fdfdfd;
  resize: none;
}

/* SELECT 2 ESTILOS */
.select2-results__option {
  color: #000;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  color: #000;
}

.text-form-col {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #000;
  font-family: "Fredoka Variable", serif;
  font-optical-sizing: auto;
  font-size: 14px;
  /* font-weight: <weight>; */
  font-style: normal;
}

.text-form-col label {
  padding: 0 20px;
  width: 120px;
}

.resumen-form-contrato {
  height: 30px;
  padding-left: 10px;
  width: 220px;
  border-radius: 8px;
}

.contenedor-col-2 {
  display: flex;
  flex-direction: column;
}

.terreno-form {
  text-align: center;
  border: 1px solid;
  border-radius: 7px;
  cursor: pointer;
}

.cuadradro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 220px;
  gap: 10px;
}

.tdh {
  padding: 5px 0;
  font-size: 12px;
}

.cuadradro-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  color: #000;
}

.doc-form i {
  padding: 10px 0;
  font-size: 32px;
}

.tda {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tti-form {
  height: 50px;
  font-size: 12px;
}

.can-form {
  height: 100px;
  flex-direction: column;
}

.nom-tp {
  background: #0e2e67;
  color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.salio-form {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #000;
  font-family: "Fredoka Variable", serif;
  font-optical-sizing: auto;
  font-size: 14px;
  /* font-weight: <weight>; */
  font-style: normal;
  gap: 10px;
}

h3 {
  font-family: "Fredoka Variable", serif;
  font-optical-sizing: auto;
  font-size: 18px;
  /* font-weight: <weight>; */
  font-style: normal;
}

.tabla-form {
  padding: 0 20px;
}

.add-action {
  --color: #fff;
  --background: #166581;
  --background-hover: #16799d;
  --background-left: #2b3044;
  --trash: #f3e9cb;
  --trash-inner: #beb393;
  --paper: #ffffff;
  --paper-lines: #bbc1e1;
  --paper-behind: #e1e6f9;
  --broom-handle: #a67855;
  --broom-bristles: #ffc107;
  --shadow: rgba(13, 15, 25, 0.2);
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 17px 29px 17px 69px;
  transition: background 0.3s;
  color: var(--color);
  background: var(--bg, var(--background));
}

.add-action > div {
  top: 0;
  left: 0;
  bottom: 0;
  width: 53px;
  position: absolute;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
  background: #0b3747;
}

.add-action .trash {
  width: 23px;
  height: 27px;
  position: absolute;
  left: 15px;
  top: 13px;
}

.add-action .trash-top {
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.add-action .trash-top svg {
  width: 24px;
  height: 27px;
  display: block;
  fill: var(--trash);
  transform-origin: 0 50%;
  transition: transform 0.3s ease var(--fds, 0.45s);
  transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.add-action .broom {
  height: 5px;
  width: 50px;
  position: absolute;
  top: 8px;
  left: 112%;
  z-index: 3;
  background: var(--broom-handle);
  transform-origin: 50% 50%;
  transform: translateX(var(--broom-x, 0)) rotate(-30deg);
  transition: transform 0.4s ease var(--fd, 0s);
}

.add-action .broom:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -10px;
  width: 15px;
  height: 5px;
  background: var(--broom-bristles);
  transform: rotate(45deg);
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.add-action .paper-clear {
  --l: 1px;
  --t: 1px;
  --w: 21px;
  --h: 25px;
  --b: var(--paper-behind);
  content: "";
  position: absolute;
  left: var(--l, 0);
  top: var(--t, 0);
  width: var(--w, 100%);
  height: var(--h, 100%);
  border-radius: 1px;
  background: var(--b);
  z-index: 1;
  transition: transform 0.4s ease var(--fd, 0.15s);
  transform: translate(var(--paper-x, 0), var(--paper-y, 0));
}

.add-action:hover {
  --bg: var(--background-hover);
  --fx: -40px;
  --fr: -60deg;
  --fd: 0.15s;
  --fds: 0s;
  --broom-x: -25px;
  --paper-x: 3px;
  --paper-y: -3px;
}

.clear-action {
  --color: #fff;
  --background: #bb8d3f;
  --background-hover: #d5a24b;
  --background-left: #2b3044;
  --trash: #f3e9cb;
  --trash-inner: #beb393;
  --paper: #ffffff;
  --paper-lines: #bbc1e1;
  --paper-behind: #e1e6f9;
  --broom-handle: #a67855;
  --broom-bristles: #ffc107;
  --shadow: rgba(13, 15, 25, 0.2);
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 17px 29px 17px 69px;
  transition: background 0.3s;
  color: var(--color);
  background: var(--bg, var(--background));
}

.clear-action > div {
  top: 0;
  left: 0;
  bottom: 0;
  width: 53px;
  position: absolute;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
  background: #9b7330;
}

.clear-action .trash {
  width: 23px;
  height: 27px;
  position: absolute;
  left: 15px;
  top: 13px;
}

.clear-action .trash-top {
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.clear-action .trash-top svg {
  width: 24px;
  height: 27px;
  display: block;
  fill: var(--trash);
  transform-origin: 0 50%;
  transition: transform 0.3s ease var(--fds, 0.45s);
  transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.clear-action .broom {
  height: 5px;
  width: 50px;
  position: absolute;
  top: 8px;
  left: 112%;
  z-index: 3;
  background: var(--broom-handle);
  transform-origin: 50% 50%;
  transform: translateX(var(--broom-x, 0)) rotate(-30deg);
  transition: transform 0.4s ease var(--fd, 0s);
}

.clear-action .broom:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -10px;
  width: 15px;
  height: 5px;
  background: var(--broom-bristles);
  transform: rotate(45deg);
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.clear-action .paper-clear {
  --l: 1px;
  --t: 1px;
  --w: 21px;
  --h: 25px;
  --b: var(--paper-behind);
  content: "";
  position: absolute;
  left: var(--l, 0);
  top: var(--t, 0);
  width: var(--w, 100%);
  height: var(--h, 100%);
  border-radius: 1px;
  background: var(--b);
  z-index: 1;
  transition: transform 0.4s ease var(--fd, 0.15s);
  transform: translate(var(--paper-x, 0), var(--paper-y, 0));
}

.clear-action:hover {
  --bg: var(--background-hover);
  --fx: -40px;
  --fr: -60deg;
  --fd: 0.15s;
  --fds: 0s;
  --broom-x: -25px;
  --paper-x: 3px;
  --paper-y: -3px;
}

.continue-application {
  --color: #fff;
  --background: #477023;
  --background-hover: #6e8649;
  --background-left: #2b3044;
  --folder: #f3e9cb;
  --folder-inner: #beb393;
  --paper: #ffffff;
  --paper-lines: #bbc1e1;
  --paper-behind: #e1e6f9;
  --pencil-cap: #fff;
  --pencil-top: #275efe;
  --pencil-middle: #fff;
  --pencil-bottom: #5c86ff;
  --shadow: rgba(13, 15, 25, 0.2);
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 17px 29px 17px 69px;
  transition: background 0.3s;
  color: var(--color);
  background: var(--bg, var(--background));
  & > div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    background: #2a4710; /*var(--background-left);*/
    .folder {
      width: 23px;
      height: 27px;
      position: absolute;
      left: 15px;
      top: 13px;
      .top {
        left: 0;
        top: 0;
        z-index: 2;
        position: absolute;
        transform: translateX(var(--fx, 0));
        transition: transform 0.4s ease var(--fd, 0.3s);
        svg {
          width: 24px;
          height: 27px;
          display: block;
          fill: var(--folder);
          transform-origin: 0 50%;
          transition: transform 0.3s ease var(--fds, 0.45s);
          transform: perspective(120px) rotateY(var(--fr, 0deg));
        }
      }
      &:before,
      &:after,
      .paper {
        content: "";
        position: absolute;
        left: var(--l, 0);
        top: var(--t, 0);
        width: var(--w, 100%);
        height: var(--h, 100%);
        border-radius: 1px;
        background: var(--b, var(--folder-inner));
      }
      &:before {
        box-shadow:
          0 1.5px 3px var(--shadow),
          0 2.5px 5px var(--shadow),
          0 3.5px 7px var(--shadow);
        transform: translateX(var(--fx, 0));
        transition: transform 0.4s ease var(--fd, 0.3s);
      }
      &:after,
      .paper {
        --l: 1px;
        --t: 1px;
        --w: 21px;
        --h: 25px;
        --b: var(--paper-behind);
      }
      &:after {
        transform: translate(var(--pbx, 0), var(--pby, 0));
        transition: transform 0.4s ease var(--pbd, 0s);
      }
      .paper {
        z-index: 1;
        --b: var(--paper);
        &:before,
        &:after {
          content: "";
          width: var(--wp, 14px);
          height: 2px;
          border-radius: 1px;
          transform: scaleY(0.5);
          left: 3px;
          top: var(--tp, 3px);
          position: absolute;
          background: var(--paper-lines);
          box-shadow:
            0 12px 0 0 var(--paper-lines),
            0 24px 0 0 var(--paper-lines);
        }
        &:after {
          --tp: 6px;
          --wp: 10px;
        }
      }
    }
    .pencil {
      height: 2px;
      width: 3px;
      border-radius: 1px 1px 0 0;
      top: 8px;
      left: 105%;
      position: absolute;
      z-index: 3;
      transform-origin: 50% 19px;
      background: var(--pencil-cap);
      transform: translateX(var(--pex, 0)) rotate(35deg);
      transition: transform 0.4s ease var(--pbd, 0s);
      &:before,
      &:after {
        content: "";
        position: absolute;
        display: block;
        background: var(
          --b,
          linear-gradient(
            var(--pencil-top) 55%,
            var(--pencil-middle) 55.1%,
            var(--pencil-middle) 60%,
            var(--pencil-bottom) 60.1%
          )
        );
        width: var(--w, 5px);
        height: var(--h, 20px);
        border-radius: var(--br, 2px 2px 0 0);
        top: var(--t, 2px);
        left: var(--l, -1px);
      }
      &:before {
        clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
      }
      &:after {
        --b: none;
        --w: 3px;
        --h: 6px;
        --br: 0 2px 1px 0;
        --t: 3px;
        --l: 3px;
        border-top: 1px solid var(--pencil-top);
        border-right: 1px solid var(--pencil-top);
      }
    }
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    transform-origin: 9px 1px;
    transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
    top: 26px;
    right: 16px;
    transition: transform 0.3s;
  }
  &:after {
    --r: 45deg;
  }
  &:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --fx: -40px;
    --fr: -60deg;
    --fd: 0.15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: 0.15s;
    --pex: -24px;
  }
}

.continue-pen {
  --color: #fff;
  --background: #4a256b;
  --background-hover: #633090;
  --background-left: #2b3044;
  --folder: #f3e9cb;
  --folder-inner: #beb393;
  --paper: #ffffff;
  --paper-lines: #bbc1e1;
  --paper-behind: #e1e6f9;
  --pencil-cap: #fff;
  --pencil-top: #275efe;
  --pencil-middle: #fff;
  --pencil-bottom: #5c86ff;
  --shadow: rgba(13, 15, 25, 0.2);
  width: 65%;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 17px 29px 17px 69px;
  transition: background 0.3s;
  color: var(--color);
  background: var(--bg, var(--background));
  & > div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    background: #372647; /*var(--background-left);*/
    .folder {
      width: 23px;
      height: 27px;
      position: absolute;
      left: 15px;
      top: 13px;
      .top {
        left: 0;
        top: 0;
        z-index: 2;
        position: absolute;
        transform: translateX(var(--fx, 0));
        transition: transform 0.4s ease var(--fd, 0.3s);
        svg {
          width: 24px;
          height: 27px;
          display: block;
          fill: var(--folder);
          transform-origin: 0 50%;
          transition: transform 0.3s ease var(--fds, 0.45s);
          transform: perspective(120px) rotateY(var(--fr, 0deg));
        }
      }
      &:before,
      &:after,
      .paper {
        content: "";
        position: absolute;
        left: var(--l, 0);
        top: var(--t, 0);
        width: var(--w, 100%);
        height: var(--h, 100%);
        border-radius: 1px;
        background: var(--b, var(--folder-inner));
      }
      &:before {
        box-shadow:
          0 1.5px 3px var(--shadow),
          0 2.5px 5px var(--shadow),
          0 3.5px 7px var(--shadow);
        transform: translateX(var(--fx, 0));
        transition: transform 0.4s ease var(--fd, 0.3s);
      }
      &:after,
      .paper {
        --l: 1px;
        --t: 1px;
        --w: 21px;
        --h: 25px;
        --b: var(--paper-behind);
      }
      &:after {
        transform: translate(var(--pbx, 0), var(--pby, 0));
        transition: transform 0.4s ease var(--pbd, 0s);
      }
      .paper {
        z-index: 1;
        --b: var(--paper);
        &:before,
        &:after {
          content: "";
          width: var(--wp, 14px);
          height: 2px;
          border-radius: 1px;
          transform: scaleY(0.5);
          left: 3px;
          top: var(--tp, 3px);
          position: absolute;
          background: var(--paper-lines);
          box-shadow:
            0 12px 0 0 var(--paper-lines),
            0 24px 0 0 var(--paper-lines);
        }
        &:after {
          --tp: 6px;
          --wp: 10px;
        }
      }
    }
    .pencil {
      height: 2px;
      width: 3px;
      border-radius: 1px 1px 0 0;
      top: 8px;
      left: 105%;
      position: absolute;
      z-index: 3;
      transform-origin: 50% 19px;
      background: var(--pencil-cap);
      transform: translateX(var(--pex, 0)) rotate(35deg);
      transition: transform 0.4s ease var(--pbd, 0s);
      &:before,
      &:after {
        content: "";
        position: absolute;
        display: block;
        background: var(
          --b,
          linear-gradient(
            var(--pencil-top) 55%,
            var(--pencil-middle) 55.1%,
            var(--pencil-middle) 60%,
            var(--pencil-bottom) 60.1%
          )
        );
        width: var(--w, 5px);
        height: var(--h, 20px);
        border-radius: var(--br, 2px 2px 0 0);
        top: var(--t, 2px);
        left: var(--l, -1px);
      }
      &:before {
        clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
      }
      &:after {
        --b: none;
        --w: 3px;
        --h: 6px;
        --br: 0 2px 1px 0;
        --t: 3px;
        --l: 3px;
        border-top: 1px solid var(--pencil-top);
        border-right: 1px solid var(--pencil-top);
      }
    }
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    transform-origin: 9px 1px;
    transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
    top: 26px;
    right: 16px;
    transition: transform 0.3s;
  }
  &:after {
    --r: 45deg;
  }
  &:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --fx: -40px;
    --fr: -60deg;
    --fd: 0.15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: 0.15s;
    --pex: -24px;
  }
}

@media screen and (max-width: 1650px) {
  .contenedor-col-2 {
    width: 90%;
  }
  .cuadradro {
    width: 100%;
  }
  .resumen-form-contrato {
    width: 100%;
  }

  .text-form-col label {
    width: 50%;
  }
}

@media screen and (max-width: 1600px) {
  .contenedor-col-1,
  .contenedor-col-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .cbo-form-col {
    padding: 10px 0px 10px 0px;
  }

  .tittle-form-col,
  .cbo-form-col {
    width: 100%;
  }
}

@media screen and (max-width: 1470px) {
  .contenedor-col-1 {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    overflow-x: hidden;
  }

  .tabla-form {
    width: 100%;
  }

  .cbo-form-cliente {
    width: 60%;
  }

  .cbo-form-col {
    padding: 10px 0px 10px 0px;
  }

  textarea {
    width: 60%;
  }
}

@media screen and (max-width: 1280px) {
  .continue-pen {
    width: 100%;
  }

  .cbo-form-cliente {
    width: 95%;
  }

  textarea {
    width: 90%;
  }

  .cbo-form-col {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0px 0px;
    width: 100%;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .text-form-col {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .text-form-col label {
    padding: 0 0px;
  }

  .resumen-form-contrato {
    width: 100%;
    padding-left: 0px;
  }

  .cuadradro {
    width: 100%;
  }

  .cuadradro-form {
    justify-items: stretch;
  }

  .btn-pend {
    width: 100%;
  }
}

@media screen and (max-width: 1230px) {
  .cuadradro-form {
    display: flex;
    flex-direction: column;
  }

  .salio-form {
    width: 94%;
  }

  .tabla-form {
    width: 100%;
  }

  .tittle-form-col {
    padding-top: 30px;
    width: 100%;
  }

  .contenedor-col-1 {
    display: flex;
    gap: 0px;
    align-items: flex-start;
    justify-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .text-form-col {
    padding: 10px 20px;
  }

  .can-form {
    height: 70px;
    flex-direction: column;
  }

  .tti-form {
    height: 45px;
    font-size: 12px;
  }
}

@media screen and (max-width: 1100px) {
  .contenedor {
    grid-template-columns: 1fr;
  }

  .cuadradro-form {
    display: grid;
  }

  .contenedor-col-2 {
    width: 100%;
  }

  .btn-pend {
    width: 100%;
  }
}

@media screen and (max-width: 894px) {
  .salio-form {
    padding: 20px 10px;
    flex-direction: column;
  }
}

@media screen and (max-width: 865px) {
  .contenedor {
    width: 100%;
  }

  .cbo-form-col {
    width: 100%;
  }

  .contenedor-col-1,
  .contenedor-col-2 {
    width: 95%;
  }

  .tabla-form {
    width: 100%;
    /*left: 5px;
            position: relative;*/
  }
}

@media screen and (max-width: 800px) {
  .contenedor-col-1,
  .contenedor-col-2 {
    width: 100%;
  }

  .salio-form {
    padding: 20px 6px;
    width: 97%;
  }
}

button:disabled {
  --background-hover: #4a256b;
}

/* MODAL DE INFORMACION DE DOCUMENTO */
#modal-documents {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9990;
}

#modal-documents .modal-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  width: 90%;
  min-height: 300px;
  max-height: 90%;
  overflow: hidden !important;
  z-index: 9999;
}

#modal-documents .modal-header {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #005ad9;
  padding: 12px 16px;
  font-family: "Fredoka Variable", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

#modal-documents .modal-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  list-style: none;
  color: black;
  height: 100%;
  overflow: auto;
  font-family: "Fredoka Variable", sans-serif;
  overflow: auto;
}

#modal-documents .modal-body .info-document {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
}

#modal-documents .modal-body .info-document .info-col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#modal-documents .modal-body .info-document .row-data {
  display: flex;
  justify-content: space-between;
}

#modal-documents .modal-body .info-document ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  list-style: none;
}

#modal-documents .modal-body .info-document ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #005ad9;
  border-radius: 4px;
  overflow: hidden !important;
}

#modal-documents .modal-body .info-document ul li span {
  width: 100%;
  padding: 2px 4px;
  background-color: #005ad9;
  color: #fff;
  text-align: center;
}

#modal-documents .modal-body .info-description {
  border-top: 1px solid #005ad941;
  padding-top: 12px;
}

#modal-documents .modal-footer .btn-success {
  display: flex;
  gap: 4px;
  background-color: #33ff0049;
  color: #33ff00;
  font-size: 16px;
  padding: 4px 12px;
  border: 1px solid #33ff0086;
  font-family: "Fredoka Variable", sans-serif;
  border-radius: 4px;
  width: fit-content;
  transition: linear 100ms;
  cursor: pointer;
}

#modal-documents .modal-footer .btn-success:hover {
  background-color: #33ff0086;
  color: #fff;
}

#modal-documents .modal-footer {
  display: flex;
  gap: 8px;
  justify-content: end;
  align-items: center;
  border-top: 1px solid #005ad941;
  padding: 12px 16px;
}

#modal-documents .modal-footer .btn-error {
  background-color: #005ad96b;
  padding: 4px 12px;
  border: 1px solid #005ad96b;
  border-radius: 4px;
  color: #005ad9be;
  font-family: "Fredoka Variable", sans-serif;
  font-size: 16px;
  transition: linear 100ms;
  cursor: pointer;
}

#modal-documents .modal-footer .btn-error:hover {
  background-color: #005ad988;
  color: #fff;
}

/* TABLA ESTILOS */

table {
  border-radius: 8px !important;
  overflow: hidden;
}

table thead {
  border: 0;
}

table thead tr {
  background: #f8f9fa;
}

table thead th .dt-column-title {
  color: #667085 !important;
  font-size: 14px;
  font-weight: 600;
}

table tbody tr {
  cursor: pointer;
}

table tbody tr:hover {
  background-color: #f5f5f580;
}

table tbody tr td {
  font-size: 14px;
}

table tfoot {
  border: 0;
}

table tfoot tr {
  background: #f8f9fa;
}

table tfoot th .dt-column-title {
  color: #667085 !important;
  font-size: 14px;
  font-weight: 600;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
  background-color: #fff !important;
}
table.dataTable.stripe tbody tr.even,
table.dataTable.display tbody tr.even {
  background-color: #fff !important;
}

table.dataTable.display > tbody tr > .sorting_1,
table.dataTable.display > tbody > tr:nth-child(odd) > .sorting_1,
table.dataTable.hover > tbody > tr:hover > *,
table.dataTable.display > tbody > tr:hover > *,
table.dataTable.display > tbody > tr:nth-child(odd) > *,
table.dataTable.display tbody tr:hover > .sorting_1 {
  box-shadow: none !important;
}

.selected-row {
  box-shadow: inset 0 0 0 9999px #b3b3b375;
}
