.main-query-lea h1, 
.main-query-lea h2, 
.main-query-lea h3, 
.main-query-lea h4, 
.main-query-lea h5, 
.main-query-lea h6, 
.main-query-lea p, 
.main-query-lea span {
  color: #000;
}

.main-query-lea {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: black;
}

.main-query-lea .header-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #fff;
  padding: 12px;
  border-radius: 12px;
}

.main-query-lea .header-title h1 {
  font-weight: 600;
  color: #002141;
}

.main-query-lea .header-title p, .main-query-lea .header-title p span {
  margin: 0;
  color: #7c7c7c;
}

.main-query-lea .container-data {
  padding: 12px;
  background-color: #fff;
  border-radius: 12px;
}

.main-query-lea .container-data table {
  border-radius: 12px !important;
  overflow: hidden;
}

.main-query-lea .container-data table thead {
  border: 0;
}

.main-query-lea .container-data table thead tr {
  background: #002141;
}

.main-query-lea .container-data table thead th {
  font-weight: 500;
}

.main-query-lea .container-data table thead th .dt-column-title {
  color: #fff !important;
}

.main-query-lea .container-data table tfoot tr {
  background: #002141;
  border: 0;
}

.main-query-lea .container-data table tfoot th {
  font-weight: 500;
}

.main-query-lea .container-data table tfoot th .dt-column-title {
  color: #fff !important;
}


/* MODAL DE INFORMACION DE DOCUMENTO */
#modal-leasing {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9990;
}

#modal-leasing .modal-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  width: 50%;
  min-height: 300px;
  max-height: 90%;
  overflow: hidden !important;
  z-index: 9999;
}

#modal-leasing .modal-header {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #005AD9;
  padding: 12px 16px;
  font-family: 'Fredoka Variable', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

#modal-leasing .modal-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  list-style: none;
  color: black;
  height: 100%;
  overflow: auto;
  font-family: 'Fredoka Variable', sans-serif;
}

#modal-leasing .modal-body .info-document {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
}

#modal-leasing .modal-body .info-document .info-col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#modal-leasing .modal-body .info-document .row-data {
  display: flex;
  justify-content: space-between;
}

#modal-leasing .modal-body .info-document ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  list-style: none;
}

#modal-leasing .modal-body .info-document ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #005AD9;
  border-radius: 4px;
  overflow: hidden !important;
}

#modal-leasing .modal-body .info-document ul li span {
  width: 100%;
  padding: 2px 4px;
  background-color: #005AD9;
  color: #fff;
  text-align: center;
}

#modal-leasing .modal-body .info-description {
  border-top: 1px solid #005ad941;
  padding-top: 12px;

}

#modal-leasing .modal-footer .btn-success {
  display: flex;
  gap: 4px;
  background-color: #33ff0049;
  color: #33ff00;
  font-size: 16px;
  padding: 4px 12px;
  border: 1px solid #33ff0086;
  font-family: 'Fredoka Variable', sans-serif;
  border-radius: 4px;
  width: fit-content;
  transition: linear 100ms;
  cursor: pointer;
}

#modal-leasing .modal-footer .btn-success:hover {
  background-color: #33ff0086;
  color: #fff;
}

#modal-leasing .modal-footer {
  display: flex;
  gap: 8px;
  justify-content: end;
  align-items: center;
  border-top: 1px solid #005ad941;
  padding: 12px 16px;
}

#modal-leasing .modal-footer .btn-error {
  background-color: #005ad96b;
  padding: 4px 12px;
  border: 1px solid #005ad96b;
  border-radius: 4px;
  color: #005ad9be;
  font-family: 'Fredoka Variable', sans-serif;
  font-size: 16px;
  transition: linear 100ms;
  cursor: pointer;
}

#modal-leasing .modal-footer .btn-error:hover {
  background-color: #005ad988;
  color: #fff;
}