    
    <div class="modal-glossary w-full h-screen fixed top-0 left-0 flex justify-center items-center opacity-0 -z-[9990] overflow-hidden">
        <div class="modal-glossary-overlay w-full h-screen fixed top-0 left-0 bg-black/25 -z-10"></div>
        <div class="modal-glossary-container w-full max-w-[40%] h-full max-h-1/2 rounded-lg relative flex flex-col gap-3 px-5 py-4 bg-white overflow-hidden">
            <div class="w-full h-2 bg-blue-700 absolute top-0 left-0"></div>
            <h2 class="text-3xl text-[#002141] font-semibold">Glosario de Términos</h2>
            <div class="w-full flex gap-3">
                <div class="w-full max-w-56 h-full rounded-md overflow-hidden">
                    <ul class="w-full flex flex-col ">
                        <li>
                            <button class="w-full px-2 py-3 bg-blue-800 font-medium text-white flex items-center justify-between glosary-sup outline-none">
                                <span class="cursor-pointer flex gap-2 items-center">
                                    <i
                                        class="bi bi-table"
                                        style="font-size: 16px; padding-left: 2px"
                                    ></i>
                                    Adm. Contratos
                                </span>
                                <i class="bi bi-chevron-down cursor-pointer text-sm! p-1"></i>
                            </button>
                            <ul class="h-0 overflow-hidden transition-all duration-300 glosary-item">
                                <li>
                                    <button class="w-full pl-6 py-3 bg-blue-700 font-medium text-white flex items-center cursor-pointer outline-none">Veh. Activos</button>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <button class="w-full px-2 py-3 bg-blue-800 font-medium text-white flex items-center glosary-sup cursor-pointer outline-none">
                                Leasing
                            </button>
                        </li>
                    </ul>
                </div>

                <ul class="w-full flex flex-col gap-2 overflow-auto">
                    <li class="text-sm text-gray-600"><span class="font-medium text-black">Jimena: </span>Termina el glosario</li>
                </ul>
            </div>
        </div>
    </div>

    </main>
    <!-- TOASTR -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!-- END TOASTR -->
    <script>
        dayjs.extend(dayjs_plugin_customParseFormat);

        const tituloOriginal = document.title;

        document.addEventListener("visibilitychange", () => {
        if (document.hidden) {
            document.title = "👀 ¡Oye, vuelve a trabajar!";
        } else {
            document.title = tituloOriginal;
        }
        });
        
        const logoutIcon = document.getElementById('log_out');

        document.getElementById("log_out").addEventListener("click", async () => {
            try {
                const BASE_URL = window.location.origin;

                const config = await fetch(`${BASE_URL}/php/config.php`).then((r) => r.json());

                const IP_LOCAL = config.IP_LOCAL;

                const response = await fetch(`http://${IP_LOCAL}:3000/logout`, {
                method: "POST",
                credentials: "include",
                });
                const data = await response.json();
                if (response.ok) {
                    localStorage.removeItem("dbUser");
                    window.location.href = "/";
                } else {
                    toastr("No se pudo cerrar sesión", "Oops...")
                }
            } catch (error) {
                console.error("Error al hacer la solicitud:", error);
                toastr("Sucedio un error desconocido en la solicitud", "Oops...")
            }
        });

        $(".open-modal-glossary").on("click", function() {
            $(".modal-glossary").addClass("opacity-100 z-[9990]").removeClass("opacity-0 -z-[9990]")

            Motion.animate('.modal-glossary-overlay', {
                opacity: [0, 1],
            }, {
                duration: 0.25,
                easing: 'linear'
            })

            Motion.animate('.modal-glossary-container', {
                opacity: [0, 1],
                scale: [0.7, 1.05, 1]
            }, {
                duration: 0.45,
                easing: 'ease-out'
            })
        })
        
        $(".modal-glossary-overlay").on("click", async function() {
            const anim = Motion.animate('.modal-glossary-container', {
                opacity: [1, 0],
                scale: [1, 1.05, 0.7]
            }, {
                duration: 0.45,
                easing: 'ease-in'
            })

            await anim.finished;

            $(".modal-glossary").removeClass("opacity-100 z-[9990]").addClass("opacity-0 -z-[9990]")
        })
        
        $(document).on("click", ".glosary-sup i", function (e) {
            e.stopPropagation();

            const $btn = $(this).closest(".glosary-sup");
            const $parent = $btn.closest("li");
            const $submenu = $parent.find(".glosary-item").first();

            $(".glosary-item").not($submenu).css("height", 0);

            // toggle
            if ($submenu.height() === 0) {
                const scrollHeight = $submenu.prop("scrollHeight");
                $submenu.css("height", scrollHeight + "px");
                $(this).css("transform", "rotate(180deg)");
            } else {
                $submenu.css("height", 0);
                $(this).css("transform", "rotate(0deg)");
            }
        });
    </script>
</body>
</html>